body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #3c4143;
    color: #ffffff;
    text-align: justify;
}

.main-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1rem 5rem;
}
.flex-section:nth-child(2n) {
    background: #593717;
}

h1 {
    font-weight: bold;
    font-size: .9rem;
    margin: 0;
    display: inline;
}
